In [4]:
import pandas as pd
import numpy as np

In [6]:
numeros = range(0,20,2) #genera una lista común, el primer número es donde empieza la lista, el segundo donde termina, y el tercero el increment (en este caso va de dos en dos)
print(list(numeros))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
numeros_serie =  pd.Series(numeros) #genera con Pandas una lista tipo serie, con Id + value + datatype
print(numeros_serie)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [10]:
#array de indices: arreglo de indices para modificar los numeros que vienen por defecto
numeros_texto = ["primero", "segundo", "tercero", "cuarto", "quinto", "sexto", "septimo", "octavo", "noveno", "decimo"]
numeros_serie_2 = pd.Series(numeros, index=numeros_texto)
print(numeros_serie_2)
print(numeros_serie_2.index)
print(numeros_serie_2[2])

primero     0
segundo     2
tercero     4
cuarto      6
quinto      8
sexto      10
septimo    12
octavo     14
noveno     16
decimo     18
dtype: int64
Index(['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'septimo',
       'octavo', 'noveno', 'decimo'],
      dtype='object')
4

C:\Users\matis\AppData\Local\Temp\ipykernel_4572\2187927341.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(numeros_serie_2[2])

## Dataframe

In [12]:
modelos = ["A1", "A2", "A3", "A4", "A5"]
peso = [3500, 3600, 3800, 3900, 3200]
precios = [10000, 11000, 15000, 1200, 8000]

#Creo las series que necesito para armar la lista

peso_series = pd.Series(peso, index=modelos)
precios_series = pd.Series(precios, index=modelos)

print(peso_series)
print("\n") #es para saltar una linea y dejar más espacio entre prints (alt+92)
print(precios_series)

A1    3500
A2    3600
A3    3800
A4    3900
A5    3200
dtype: int64


A1    10000
A2    11000
A3    15000
A4     1200
A5     8000
dtype: int64

In [19]:
#construir dataframe combinando las series

autos = pd.DataFrame({"Peso": peso_series, "Precios": precios_series})
print(autos)
print("\n")
print(autos.head(2)) #devuelve los primeros(n)
print("\n")
print(autos.tail(2)) #devuelve los ultimos(n)
print("\n")
print(autos.describe()) #devuelve tabla con estadistica descriptiva (media, desvio estandar, min, max, quintiles)
print("\n")
print(autos.info()) #devuelve info de la tabla

    Peso  Precios
A1  3500    10000
A2  3600    11000
A3  3800    15000
A4  3900     1200
A5  3200     8000


    Peso  Precios
A1  3500    10000
A2  3600    11000


    Peso  Precios
A4  3900     1200
A5  3200     8000


              Peso       Precios
count     5.000000      5.000000
mean   3600.000000   9040.000000
std     273.861279   5070.305711
min    3200.000000   1200.000000
25%    3500.000000   8000.000000
50%    3600.000000  10000.000000
75%    3800.000000  11000.000000
max    3900.000000  15000.000000


<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A1 to A5
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Peso     5 non-null      int64
 1   Precios  5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes
None

In [23]:
#agregar una nueva columna a un dataframe ya hecho: ej. autos['precioxkg]--- al dataframe autos le agregué la columna precioxkg
autos['Precio_PorKG'] = (autos['Precios']/autos['Peso']).round(2) #el round lo usamos para redondear en (n) decimales
print(autos['Precio_PorKG'])

autos

A1    2.86
A2    3.06
A3    3.95
A4    0.31
A5    2.50
Name: Precio_PorKG, dtype: float64

    Peso  Precios  Precio_PorKG
A1  3500    10000          2.86
A2  3600    11000          3.06
A3  3800    15000          3.95
A4  3900     1200          0.31
A5  3200     8000          2.50

In [24]:
numeros_serie_2["quinto"]

8

In [25]:
numeros_serie_2.loc["quinto"]

8

In [27]:
numeros_serie_2.iloc[4] #funciona solo para indices numericos, por eso pongo 4 en lugar de quinto

8

In [29]:
#filtro por condicional
autos_caros = autos.loc[autos['Precios'] > 10000, ['Precios', 'Precio_PorKG']] 
print(autos_caros)

    Precios  Precio_PorKG
A2    11000          3.06
A3    15000          3.95